Historic Trendline/historic-trendline-5-19/historic-trendline-papi/src/main/mule/historic-trendline-papi-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:training-mastersapi="http://www.mulesoft.org/schema/mule/training-mastersapi" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/training-mastersapi http://www.mulesoft.org/schema/mule/training-mastersapi/current/mule-training-mastersapi.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="StandardTrendline" doc:id="08a47c16-d921-41c9-b5ea-41004638fa1d" >
		<db:select doc:name="Select" doc:id="6dca9148-bb23-49ab-9404-ef4680844146" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT year_, month_, rolling_average FROM average]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="2e8097f5-fb61-497f-89ca-540479453da1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map (payload01, index)->{
	year: payload01.year_,
	month: payload01.month_,
	averageNumberOfBatches: payload01.rolling_average
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="93493ca2-081d-4c8a-b356-032e624f2013" />
	</flow>
	<flow name="database" doc:id="f1cb6dbf-3cf8-45b2-b5bd-abbc28c5eab8" >
		<scheduler doc:name="Scheduler" doc:id="f52d650a-1eba-4ef0-b775-7b6dd2207164" >
			<scheduling-strategy >
				<fixed-frequency frequency="31" timeUnit="DAYS"/>
			</scheduling-strategy>
		</scheduler>
		<flow-ref doc:name="Flow Reference" doc:id="13c1ff45-6304-4112-b107-98807ad2d5be" name="Get-batches"/>
		<ee:transform doc:name="Transform Message" doc:id="989545cd-4196-4125-b67b-887b88b1517b" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="NewEntries" ><![CDATA[%dw 2.0
output application/json
---
sizeOf(payload)]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="0d549bcf-82bf-4762-b40c-afedcb07e129" />
		<db:select doc:name="Select" doc:id="f37f0c73-5d1a-4288-82ee-1def92276484" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from trendline]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="0db83d90-8dc9-4033-a354-838f8b25523e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="Last" ><![CDATA[%dw 2.0
output application/java
---
sizeOf(payload)]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="Choice" doc:id="5fed528a-4b62-415c-973b-e2c02db5a2af" >
			<when expression="#[vars.NewEntries&gt;vars.Last]">
				<flow-ref doc:name="Flow Reference" doc:id="17966d4a-cc7c-46b6-8444-df437cc4a0cf" name="Get-batches"/>
				<foreach doc:name="For Each" doc:id="fe923b89-f221-4c14-b50b-a7c157336759">
					<db:insert doc:name="Insert" doc:id="6edd804b-9a83-453e-8f8c-87d90692a320" config-ref="Database_Config">
					<db:sql><![CDATA[INSERT INTO trendline (month_, year_, batchid) VALUES (:startMonth, :startYear, :batchId) ON CONFLICT DO NOTHING]]></db:sql>
					<db:input-parameters><![CDATA[#[{
	startYear: payload.startYear,
	startMonth: payload.startMonth,
	batchId: payload.batchId
}]]]></db:input-parameters>
				</db:insert>
					<logger level="INFO" doc:name="Logger" doc:id="4f78beb1-ef30-4058-80b8-2b8dfb9ced54" />
				</foreach>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="471da5fa-0013-4a5d-96af-9561347db002" />
			</otherwise>
		</choice>
	</flow>
	<flow name="Get-batches" doc:id="cc059fac-60b7-4528-a5a6-9b8a969a4343" >
		<training-mastersapi:get-batches-qc-version doc:name="Get batches (qc version)" doc:id="70e6d4c9-8aa9-4acb-8ebf-b8e226be7ac1" config-ref="Training_Master_sapi_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="1804044b-24ba-4abc-b883-94be6e9a3f90">
			<ee:message>
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map(payload01,index) ->{
	startYear: payload01.startDate[0 to 3],
	startMonth: payload01.startDate[5 to 6],
	batchId: payload01.batchId
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="560e2922-b647-4b21-867c-0e4382c13c7e" />
	</flow>
</mule>
